body {
  font-family: arial, sans-serif;
  font-size: small;
  color: #222;
}

/*=== HEADER ===*/


# accessibility {
	height: 15px;

}

nav {

	height: 40px;
	float: right;
	margin: 0;

}


a {
	height: 40px;
	color: black;
	text-decoration: none;
	margin: 0 5px 0 5px;
}

#connect {
	border: solid blue 1px;
	border-radius: 5px;
	background-color: blue;
}

/*=== MAIN ===*/

section {
	width: 600px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

img {
	height: 50%;
	width: 50%;


}




#center {
		height: 76px;
		width: 571px;
		margin: auto;
}

#center p input {
		height: 30%;
		width: 50%;

}


/*=== FOOTER ===*/


footer {
	margin: 0;
}

#fbar {
	height: 40x;
	background-color: lightgrey;

}

#fsl {
	float: left;
	white-space: nowrap;
}

#fsr {
	float: right;

}
