body {
  font-family: arial, sans-serif;
  font-size: small;
  color: #222;
}

/*=== HEADER ===*/


# accessibility {
	height: 15px;

}

nav {

	height: 40px;
	float: right;
	margin: 0;
	padding: 10px;

}


a {
	height: 40px;
	color: black;
	text-decoration: none;
	margin: 0 5px 0 5px;
	padding: 5px;
}

#connect {
	border: solid blue 1px;
	border-radius: 5px;
	background-color: blue;

}



/*=== MAIN ===*/

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
	height: 50%;
	width: 50%;


}




#center {
		/*eight: 76px;
		width: 571px;*/


}

#center p input {
		height: 30%;
		width: 95%;
		justify-content: center;

}




/*=== FOOTER ===*/


footer {
	margin: 0;
	background-color: lightgrey;
	padding: 10px;
}

#fbar {
	height: 40x;


}

#fsl {
	float: left;
	white-space: nowrap;
}

#fsr {
	float: right;

}


